.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
}

.gallery-item {
  display: flex;
  flex: 0 0 calc((100% - 2 * 24px) / 3);
  overflow: hidden;
  transition: transform 0.3s;
}
.gallery-item:hover {
  transform: scale(1.045);
}

.gallery-link {
  display: block;
  text-decoration: none;
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
  display: block;
}
.gallery-image {
  transform: scale(1.045);
}
